.cell {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid lightgray;
  text-align: center;
}

.obstacle {
  background-color: black;
}
img {
  position: absolute;
  width: 50px;
  top: 10px;
  left: 10px;
}

.moveable {
  border: 2px solid rgb(9, 129, 145);
}

.player {
  z-index: 5;
}

.weapon {
  z-index: 2;
}

.flex-container {
  display: flex;
  gap: 10%;
}

.card {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 3px solid rgb(9, 129, 145);
  box-shadow: 1px 1px 1px rgb(9, 129, 145);
  gap: 30%;
}

.container-information {
  margin-top: 20%;
}

p {
  font-size: 16px;
}
